[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=chon
WorkingDirectory=/home/chon/sites/DOMAIN
EnvironmentFile=/home/chon/sites/DOMAIN/.env

ExecStart=/home/chon/sites/DOMAIN/virtualenv/bin/gunicorn --bind unix:/tmp/DOMAIN.socket superlists.wsgi:application

[Install]
WantedBy=multi-user.target
